@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');


*{box-sizing: border-box;
  margin: 0;}
html{
  height: 100%; font-family: 'Source Sans Pro', sans-serif;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root{
  --darkblue-color:#042A45;
  --midblue-color:#135B81;
  --lightblue-color: #73AABF;
  --green-color: #41A7AB;
  --darkbrown-color: #592925;
  --orange-color: #e05f0f;
  --black-color: #000000;
  --white-color: #ffffff;
  --lightlb-color: #a0d3d5;
}
header, body, footer{
  font-family: 'Source Sans Pro', sans-serif;
}

.fontTitles{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16pt;
  font-weight:400;
  color: var(--midblue-color);
  text-shadow:1px 1px 2px var(--darkblue-color);
  text-decoration: none;
}
.fontTitlesWhite{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16pt;
  font-weight:400;
  color: var(--white-color);
  text-shadow:1px 1px 2px var(--lightlb-color);
  text-decoration: none;
}
.fontButtons{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14pt;
}
.fontParagraphBlack{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12pt;
  color: var(--black-color);
}
.fontParagraphWhite{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12pt;
  color: var(--white-color);
}
.fontParagraphBlue{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12pt;
  color: var(--midblue-color);
}
.primaryButton{
 background-color: var(--darkblue-color);
 border-color: var(--darkblue-color);
 color: var(--orange-color);
 box-shadow: 2px 2px 3px var(--lightblue-color),
 -1px -1px 3px var(--lightblue-color);
}
.secondaryButton{
 background-color: var(--lightlb-color);
 border-color: var(--lightlb-color);
 color: var(--orange-color);
 box-shadow: 2px 2px 3px var(--darkblue-color),
 -1px -1px 3px var(--darkblue-color);
}
@media screen and (min-width:768px){
  .fontTitles{
    font-size: 20pt;
    font-weight:500;
  }
  .fontButtons{
    font-size: 16pt;
  }
  .fontParagraphBlack, .fontParagraphWhite, .fontParagraphBlue{
   font-size: 14pt;
  }
}